/* === MainMenu === */

.mainMenu {
  background: url(picture/background-footer.jpg)repeat center;
  width: 100vw;
  text-align: center;
  position: fixed;
  height: 100px;
}

#logo {
  background-image: url(picture/logoProjekt.png);
  background-size: cover;
  width: 150px;
  height: 150px;
  margin: auto;
}

#logo a{
  display: flex;
  width: 150px;
  height: 150px;
}

#logo a:hover{
  cursor: pointer;
}
/* === game === */

.game{
  width: 100vw;
  text-align: center;
  height: 600px;
  position: fixed;
  top: 100px;
  display: flex;
  flex-flow: row nowrap;
}

.buttonBackground{
  width: 150px;
  height: 150px;
  background-image: url(picture/buttons/buttonBackground.png);
  background-size:cover;
  margin: auto;
  display:flex;
  transition-duration: 2s;
}

#buttonPad{
  /*background-image: url(picture/buttons/buttonGamePad.png);*/
  width: 120px;
  margin: 35px 0 0 15px;
  height: 80px;
  padding: 5px;
  transition-duration: 1s;
}

.buttonBackground:hover{
  cursor: pointer;
}

#buttonPad:hover{
  margin: 30px 0 0 10px;
  width: 130px;
  height: 85px;
}

#buttonPown {
  width: 115px;
  margin: 20px 0 0 15px;
  height: 105px;
  padding: 5px;
  transition-duration: 1s;
}

#buttonPown:hover{
  margin: 15px 0 0 10px;
  width: 125px;
  height: 115px;
}

/* === footer === */

.footer{
  background: url(picture/background-footer.jpg)repeat center;
  width: 100vw;
  text-align: center;
  position: fixed;
  height: 60px;
  bottom: 0;
  display: table;

}

.footer small{
  color: white;
  margin-top: 14px;
  display: block;
  letter-spacing: 1px;
}

.footer nav{
  margin: 5px;
}

.footer a{
  margin: 0 5px 0 5px;
}







