/* === game Marynarzyk === */

.hands {
  width: 40vw;
  height: 550px;
  margin: 20px;
}

#leftHands {
  position: absolute;
  top: 0;
  left: 0;
  right: 700px;
  bottom: 0;
  margin: auto;
}

#rightHands{
  position: absolute;
  top: 0;
  right: 0;
  left: 700px;
  bottom: 0;
  margin: auto;
}


#rotateRightHand{
    transform: rotateY(180deg);
}

img{
  height: 300px;
}

.button{
  position: absolute;
  top:0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 20px;
  height: 450px;
  min-width: 100px;
}

#start{
  text-align: center;
  width: 100px;
  height: 50px;
  background-color: black;
  color: white;
  font-family: "Times New Roman", Times, sans-serif;
  font-size: 20px;
  text-transform: uppercase;
  margin: auto;
  position: absolute; 
  top: 0; 
  right: 0; 
  bottom: 0; 
  left: 0;
}
  .score{
    font-size: 48px;
    font-family: "Times New roman", Times, sans-serif;
  }
