/* === game Marynarzyk === */

.hands {
  width: 40vw;
  height: 540px;
  margin: 20px;
  transition-duration: .05s;
}

#leftHands {
  position: absolute;
  top: 160px;
  left: 0;
  right: 700px;
  bottom: 0;
  margin: auto;
}

#leftHands:hover{

  cursor: pointer;
}

#rightHands{
  position: absolute;
  top: 160px;
  right: 0;
  left: 700px;
  bottom: 0;
  margin: auto;
}


#rotateRightHand{
    transform: rotateY(180deg);
}

img{
  height: 300px;
}

.button{
  position: absolute;
  top:0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 20px;
  height: 450px;
  min-width: 100px;
}

#start{
  text-align: center;
  width: 100px;
  height: 50px;
  background-color: black;
  color: white;
  font-family: "Times New Roman", Times, sans-serif;
  font-size: 20px;
  text-transform: uppercase;
  margin: auto;
  position: absolute; 
  top: 0; 
  right: 0; 
  bottom: 0; 
  left: 0;
}
  .score{
    font-size: 48px;
    font-family: "Times New roman", Times, sans-serif;
  }

.choose{
  border: solid 2px;
  border-radius: 15px;
  border-color: #121212;
  display: inline-block;
  margin: 20px 10px 10px auto;
  height: 110px;
  min-width: 180px;
}

.choose:hover{
  border-color: cornflowerblue;
  cursor: pointer;
}


.choose img{
  height: 90px;
  margin: 10px 5px 5px 5px;
  text-align: center;
}

.menu{
  width: 100vw;
  text-align: center;
  position: fixed;
  height: 150px;
  bottom: 60px;
}

.pkt{
  width: 50vw;
  text-align: center;
  height: 70px;
  bottom: 555px;
  margin-top: 10px;
}